<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="setContent(content)">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" rel="stylesheet"/>
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <link rel="stylesheet" href="/css/layout1.css" />
    </head>

    <body id="wrap">
    <header id="nav" class="navbar container-fluid">
        <form action="/list" method="get" id="search">
            <div class="input-group">
                <div class="input-group-prepend">
                    <ul class="mn">
                        <li><a th:href="@{/}"><img id="lg" src="/img/1.png"></a></li>
                        <li><i class="fa fa-search"></i><input id="s" class="form-control search" name="searchQuery"></li>
                        <li class="icon"><a th:href="@{/admin/item/new}" sec:authorize="isAuthenticated()" style="color: #000;"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                        <li class="icon"><a th:href="@{/admin/items}" sec:authorize="isAuthenticated()" style="color: #000;"><i class="fa fa-wrench" aria-hidden="true"></i></a></li>
                        <li class="icon"><a th:href="@{/orders}" sec:authorize="isAuthenticated()" style="color: #000;"><i class="fa fa-user"></i></a></li>
                        <li class="icon"><a th:href="@{/layout/masterlist/masterlistGest}" sec:authorize="isAuthenticated()" style="color: #000;"><i class="fa fa-address-book-o" aria-hidden="true"></i></a></li><!--유저 관리-->
                        <li class="icon"><a th:href="@{/members/logout}" sec:authorize="isAuthenticated()" style="vertical-align: middle; font-size: 15px; white-space: nowrap;"><strong>로그아웃</strong></a></li>
                    </ul>
                </div>
            </div>
        </form>
    </header>
    <div class="content">
        <th:block th:replace = "${content}">
        </th:block>

    </div>
    <footer class="container-fluid">
        <div id="box" class="container">
            <div id="info">
                <p>
                    회사정보<br>
                </p>
                상호 : 서치트리<br>
                대표 : 김근우<br>
                주소 : 서울<br>
                사업자 등록번호 : 123-45-67890<br>
            </div>
            <div id="time">
                <p>
                    근무시간 : 월 ~ 금 AM 9:00 ~ PM 7:00
                </p>
                <p>
                    점심시간 : PM12 :00 ~ PM 1 : 00
                </p>
                <p>
                    고객센터 : AM 10: 00 ~ PM6 : 00
                </p>
            </div>
            <div id="cs">
                <p>
                    <a th:href="@{/cs/main}" style="text-decoration: underline; color: white; font-weight: 900; ">고객센터</a><span> C/S Center</span><br>
                </p>
                전화 : 02-2069-1931<br>
                휴대전화 : 010-1234-5678<br>
                이메일 : abcdefg@naver.com<br>
                카카오톡 ID : abcdefg<br>
                오전 9시부터 오후 6시까지 상담가능합니다.<br>
            </div>
        </div>
    </footer>

    </body>

</th:block>
</html>
