<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="setContent(content)">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

<body>

<style>
    * {
        margin: 0;
        padding: 0;
    }
    .header {
        width:100vw;
        height: 20vh;
        background-color: aqua;
    }
    .content {
        width: 100vw;
        height: 70vh;
        background-color: lightgray;
    }
    .footer {
        width: 100vw;
        height: 10vh;
        background-color: green;
    }
</style>

    <body id="wrap">
    <header id="nav" class="navbar container-fluid">
        <ul>
            <li><a th:href="@{/layout/basic}"><img src="/img/1.png"></a></li>
            <li><i class="fa fa-search"></i><input id="s" class="search" type="search"></li>
            <li class="icon"><i class="fa fa-user"></i></li>
            <li class="icon"><i class="fa fa-shopping-basket"></i></li>
        </ul>
    </header>
    <div class="content">
        <th:block th:replace = "${content}">
        </th:block>

    </div>
    <footer class="container-fluid">
        <div class="container">
            <div id="info">
                회사정보<br>
                상호 : 서치트리<br>
                대표 : 김근우<br>
                주소 : 서울<br>
                사업자 등록번호 : 123-45-67890<br>
            </div>
            <div id="time">
                <p>
                    근무시간 : 월 ~ 금 AM 9:00 ~ PM 7:00
                </p>
                <p>
                    점심시간 : PM12 :00 ~ PM 1 : 00
                </p>
                <p>
                    고객센터 : AM 10: 00 ~ PM6 : 00
                </p>
            </div>
            <div id="cs">
                고객센터 C/S Center<br>
                전화 : 02-2069-1931<br>
                휴대전화 : 010-1234-5678<br>
                이메일 : abcdefg@naver.com<br>
                카카오톡 ID : abcdefg<br>
                오전 9시부터 오후 6시까지 상담가능합니다.<br>
            </div>
        </div>
    </footer>

</body>
</th:block>
</html>
