<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="login.css" rel="stylesheet">
    <link href="/src/main/resources/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="login-wrapper">
            <h2>로그인</h2>
            <form method="post" action="" id="login-form">
                
                <input class="duri" type="text" name="userName" placeholder="ID">
                <input class="duri" type="password" name="userPassword" placeholder="Password">
            
                <label for="remember-check">
                    <input type="checkbox" id="remember-check">아이디 저장하기
                </label>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>