<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1>
            메인페이지
        </h1>
        <form>
            <div>
                <label>질문</label>
                <input type="text" class="form-control">
            </div>
        </form>
        <form>
            <div>
                <label>답변</label>
                <textarea class="form-control" rows="5" id="comment" value="질문"></textarea>
            </div>
        </form>

        <div>
            <label>파일첨부</label>
            <button type="button" class="btn btn-info">첨부하기</button>
        </div>


        <div>
            <button type="button" class="btn btn-primary">취소</button>
            <button type="button" class="btn btn-info">등록</button>
        </div>



    </th:block>

</th:block>
