<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace = "~{/layout/layout1 :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>관리자 페이지</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/masterlist.css" rel="stylesheet" />

        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">관리자 페이지</div>
                <div class="sidebar-heading border-bottom bg-light">사용자(db)</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/layout/masterlist/masterlistCartlist">주문현황</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/layout/masterlist/masterlistSoldlist">매출현황</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/layout/masterlist/masterlistList">게시물현황</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/layout/masterlist/masterlistGest">회원</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->

                
                <!--매출현황-->
                <div class="col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><a href="#">매출 현황</a></h2>
                        </div>
                        <div class="x_content">
                                    <div class="table-responsive">
                                        <table class="table table-hover table1">
                                            <thead>
                                                <tr>
                                                    <th><a href="#">매출건수(일)</a></th>
                                                    <th><a href="#">매출금액(일)</a></th>
                                                    <th><a href="#">매출건수(주)</a></th>
                                                    <th><a href="#">매출금액(주)</a></th>
                                                    <th><a href="#">매출건수(월)</a></th>
                                                    <th><a href="#">매출금액(월)</a></th>
                                                    <th><a href="#">매출건수(전체)</a></th>
                                                    <th><a href="#">매출금액(전체)</a></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>18건</td>
                                                    <td>7건</td>
                                                    <td>6건</td>
                                                    <td>0건</td>
                                                    <td>2건</td>
                                                    <td>9건</td>
                                                    <td>3건</td>
                                                    <td>43건</td>
                                                </tr>							
                                            </tbody>
                                        </table>
                                    </div>                              
                        </div>
                    </div>
                </div>
                <!--end-->
               
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </th:block>
</th:block>

