<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace = "~{/layout/layout1 :: setContent(~{this::content})}">
    <th:block th:fragment="content">
<link href="/css/masterlist.css" rel="stylesheet" />
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">관리자 페이지</div>
        <div class="sidebar-heading border-bottom bg-light">사용자(db)</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/layout/masterlist/masterlistCartlist">주문현황</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/layout/masterlist/masterlistSoldlist">매출현황</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/layout/masterlist/masterlistList">게시물현황</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/layout/masterlist/masterlistGest">회원</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle"><</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="/layout/masterlist/masterlistHome">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#!">Action</a>
                                <a class="dropdown-item" href="#!">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#!">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--USER-->
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><a href="#">USER</a></h2>

                    <form action="/layout/masterlist/masterlistGest" method="get" id="searchForm">
                        <div class="input-group">
                            <input type="hidden" name="page" value="1">
                            <div class="input-group-prepend">
                                <select class="custom-select" name="type">
                                    <option th:selected="${pageRequestDTO.type==null}">----------</option>
                                    <option value="uid" th:selected="${pageRequestDTO.type==uid}">아이디</option>
                                    <option value="upw" th:selected="${pageRequestDTO.type==upw}">패스워드</option>
                                    <option value="uname" th:selected="${pageRequestDTO.type==uname}">이름</option>
                                </select>
                                <input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                                <div class="input-group-append" id="button-addon4">
                                    <button class="btn btn-outline-secondary btn-search" type="button">Searcch</button>
                                    <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-hover table1">
                            <thead>
                            <tr>
                                <th><a href="#">아이디</a></th>
                                <th><a href="#">패스워드</a></th>
                                <th><a href="#">이름</a></th>
                                <th><a href="#">전화번호</a></th>
                                <th><a href="#">이메일</a></th>
                                <th><a href="#">이메일수신여부</a></th>
                                <th><a href="#">가입날짜</a></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="dto : ${userdto.dtoList}">
                                <td>[[${dto.userId}]]</td>
                                <td>[[${dto.userPw}]]</td>
                                <td>[[${dto.userName}]]</td>
                                <td>[[${dto.userPhone}]]</td>
                                <td>[[${dto.userEmail}]]</td>
                                <td>[[${dto.emailCheck}]]</td>
                                <td>[[${#temporals.format(dto.userInsertdate,'yyyy/MM/dd')}]]</td>
                            </tr>
                            </tbody>
                        </table>
                        <ul class="pagination h-100 justify-content-center align-items-center">
                            <li class="page-item" th:if="${userdto.prev}">
                                <a class="page-link" th:href="@{/layout/masterlist/masterlistGest(page=${userdto.start-1})}" tabindex="-1">Previous</a>
                            </li>
                            <li th:class=" 'page-item' + ${userdto.page == page?'active':''} " th:each="page: ${userdto.pageList}">
                                <a class="page-link" th:href="@{/layout/masterlist/masterlistGest(page=${page})}">[[${page}]]</a>
                            </li>
                            <li class="page-item" th:if="${userdto.next}">
                                <a class="page-link" th:href="@{/layout/masterlist/masterlistGest(page=${userdto.end+1})}" tabindex="+1">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end-->

    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<script th:inline="javascript">
    var searchForm= $("#searchForm");
    $('.btn-search').click(function(e){
        searchForm.submit();
    });
    $('.btn-clear').click(function(e){
        searchForm.empty().submit();
    });
</script>


</th:block>
</th:block>
