<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/layout1 :: setContent(~{this::content} )}">

  <th:block th:fragment="content">
    <div class="container">
    <h1 class="mt-4">FAQ 등록 페이지</h1>

    <form th:action="@{/faq/register}" th:method="post">
      <div class="form-group">
        <label >제목</label>
        <input type="text" class="form-control" name="title" placeholder="Enter Title">
      </div>
      <div class="form-group">
        <label >카테고리</label>
        <input type="text" class="form-control" name="category" placeholder="Enter category">
      </div>
      <div class="form-group">
        <label >내용</label>
        <textarea class="form-control" rows="5" name="text"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">등록</button>
    </form>
    </div>

  </th:block>

</th:block>
