<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>

  <div class="bg">

    <div class="img">

        <div class="dropdown">
            <i class="fa fa-bars dropbtn" onclick="myFunction()"></i>
            <div id="myDropdown" class="dropdown-content">
                <a th:href="@{members/login}" sec:authorize="isAnonymous()">로그인</a>
                <a th:href="@{members/new}" sec:authorize="isAnonymous()">회원가입</a>
                <a th:href="@{members/logout}" sec:authorize="isAuthenticated()">로그아웃</a>
                <a th:href="@{cart}" sec:authorize="isAuthenticated()">장바구니</a>
                <a th:href="@{orders}" sec:authorize="isAuthenticated()">구매이력</a>
                <a th:href="@{cs/main}">고객센터</a>
            </div>
        </div>
        <div id="m">
              <img class="logo" src="/img/1.png">
            <form class="form-inline my-2 my-lg-0" th:action="@{/list}" method="get">

                <div class="search-mode">
                    <i class="fa fa-search"></i><input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="검색어를 입력해주세요." aria-label="Search">
                </div>

</form>
  </div>
  </div>
  </div>

  <script th:inline="javascript">

        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }


        window.onclick = function(e) {
          if (!e.target.matches('.dropbtn')) {
          var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
              myDropdown.classList.remove('show');
            }
          }
        }
</script>
</body>
</html>

